<launch>
 
    <include file="$(find rrt_exploration)/launch/simple.launch"/> 
    <include file="$(find challenge_3)/launch/mapping.launch"/>
    <include file="$(find challenge_2)/launch/bottle.launch"/>
 
 
    <node pkg="move_base" type="move_base" respawn="false" name="move_base_node" output="screen">
      <param name="footprint_padding" value="0.01" />
      <param name="controller_frequency" value="5.0" />
      <param name="controller_patience" value="3.0" />
      <param name="oscillation_timeout" value="30.0" />
      <param name="oscillation_distance" value="0.5" />
      <param name="planner_patience" value="1" />
      <param name="controller_patience" value="1" /> 
      <param name="recovery_behavior_enabled" value="false" />
      <rosparam file="$(find challenge_3)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find challenge_3)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find challenge_3)/params/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find challenge_3)/params/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find challenge_3)/params/base_local_planner_params.yaml" command="load" />
      <param name="global_costmap/global_frame" value="/map"/>
      <param name="global_costmap/robot_base_frame" value="/base_footprint"/>
      <param name="global_costmap/laser_scan_sensor/sensor_frame" value="/laser_sensor_link"/>
      <param name="global_costmap/laser_scan_sensor/topic" value="/scan"/>    
      <param name="local_costmap/global_frame" value="/map"/>
      <param name="local_costmap/robot_base_frame" value="/base_footprint"/>
      <param name="local_costmap/laser_scan_sensor/sensor_frame" value="/laser_sensor_link"/>
      <param name="local_costmap/laser_scan_sensor/topic" value="/scan"/>
      <param name="local_costmap/obstacle_layer/laser_scan_sensor/topic" value="/scan"/>
      <remap from="cmd_vel" to="cmd_vel"/>
    </node>
</launch>